/*light theme*/
.theme-light{
	background: rgb(255, 255, 255);
}

.theme-light .titleBackgroundTheme{
	color:#C06014; 
}

.theme-light .headTheme{
	background:rgb(189,100,10);
}

.theme-light .headColorBackgroundTheme{
	color:#E9E9E9;
}

.theme-light .mainTheme{
	background-color: #E9E9E9;
}

/*dark theme*/
.theme-dark{
	background: rgb(32, 32, 31);
	color: rgb(95, 93, 86);
}

.theme-dark .titleBackgroundTheme{
	color:#42413D; 
}

.theme-dark .headTheme{
	background:rgb(0, 0, 0);
}

.theme-dark .headColorBackgroundTheme{
	color:#42413D;
}

.theme-dark .mainTheme{
	background-color: rgb(32,32,31);
}

header{
	/* background-color: rgb(255, 255, 255); */
	margin:0px;
	padding: 0px;
	border-bottom-style: outset;
	/* border-radius: 10px; */
	text-align: left;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

nav ul li{
	margin-right: 15px;
	list-style-type: none;
	display: inline-block;
	text-align: left;
	font-size: 20px;
	padding: 0px;
}

nav ul li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

main{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	padding-left: 30px;
	border-radius: 0px;
	font-size: 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

footer{
	margin:0px;
	padding: 0px;
	border-top-style: outset;
	/* border-radius: 10px; */
	color: #000000;
	text-align: right;
	font-family: "Comic Sans MS", cursive, sans-serif;
}